<!DOCTYPE html>
<html>
<head>
  <title>Kriton's Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if alert %>
    <p class="alert bg-warning"><%= alert %></p>
  <% end %>
  
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <% if user_signed_in? %>
    <div "navbar-nav mr-auto"> Welcome <strong><%= current_user.email %></strong>.</div>

      <div class="btn btn-default navbar-btn" ><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> </div>  
      <div class="btn btn-default navbar-btn"><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %> </div>  
  
  <% else %>
    <div class="btn btn-default navbar-btn"><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></div> 
   <div class="btn btn-default navbar-btn"><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></div>
  <% end %>
 </nav>
  <%= yield %>

</body>
</html>
